<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qtshe.cpt.mapper.UserprofileMapper" >
  <resultMap id="BaseResultMap" type="com.qtshe.cpt.model.Userprofile" >
    
    <!-- id -->
    <id column="id" property="id" jdbcType="BIGINT" />
    
    <!-- 用户ID UUID -->
    <id column="UserID" property="userid" jdbcType="VARCHAR" />
    
    <!-- 登录用户名 -->
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    
    <!-- 用户号码 -->
    <result column="PhoneNum" property="phonenum" jdbcType="VARCHAR" />
    
    <!-- 用户邮箱 -->
    <result column="email" property="email" jdbcType="VARCHAR" />
    
    <!-- 密码 -->
    <result column="Password" property="password" jdbcType="VARCHAR" />
    
    <!-- 用户状态
            1 正常
            2 锁定 -->
    <result column="Status" property="status" jdbcType="VARCHAR" />
    
    <!-- 注册平台 -->
    <result column="platform" property="platform" jdbcType="INTEGER" />
    
    <!-- 创建时间 -->
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    
    <!-- 创建人 -->
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    
    <!-- 修改时间 -->
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    
    <!-- 修改人 -->
    <result column="update_by" property="updateBy" jdbcType="TIMESTAMP" />
    
    <!-- 数据状态 0：正常  1 删除  -->
    <result column="data_status" property="dataStatus" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Nov 27 11:26:30 GMT+08:00 2018.
    -->
    delete from userprofile
    where id = #{id,jdbcType=BIGINT}
      and UserID = #{userid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Nov 27 11:26:30 GMT+08:00 2018.
    -->
    insert into userprofile (id, UserID, login_name, 
      PhoneNum, email, Password, 
      Status, platform, create_time, 
      create_by, update_time, update_by, 
      data_status)
    values (#{id,jdbcType=BIGINT}, #{userid,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, 
      #{phonenum,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{platform,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=TIMESTAMP}, 
      #{dataStatus,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Nov 27 11:26:30 GMT+08:00 2018.
    -->
    update userprofile
    set login_name = #{loginName,jdbcType=VARCHAR},
      PhoneNum = #{phonenum,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      Password = #{password,jdbcType=VARCHAR},
      Status = #{status,jdbcType=VARCHAR},
      platform = #{platform,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=TIMESTAMP},
      data_status = #{dataStatus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
      and UserID = #{userid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Nov 27 11:26:30 GMT+08:00 2018.
    -->
    select id, UserID, login_name, PhoneNum, email, Password, Status, platform, create_time, 
    create_by, update_time, update_by, data_status
    from userprofile
    where id = #{id,jdbcType=BIGINT}
      and UserID = #{userid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Nov 27 11:26:30 GMT+08:00 2018.
    -->
    select id, UserID, login_name, PhoneNum, email, Password, Status, platform, create_time, 
    create_by, update_time, update_by, data_status
    from userprofile
  </select>
  
  <!-- ### 以上代码由MBG + CommentPlugin自动生成, 生成时间: 2018-11-27 11:26:30 ### -->



  <!-- Your codes goes here!!! -->
  
</mapper>